In [43]:
%ls

 Volume in drive C is OS
 Volume Serial Number is CCA9-EC95

 Directory of C:\Users\nehah\Documents\Python Scripts

04/07/2017  10:54 PM    <DIR>          .
04/07/2017  10:54 PM    <DIR>          ..
04/07/2017  10:15 PM    <DIR>          .ipynb_checkpoints
04/07/2017  10:53 PM            20,208 Act-W Machine Learning Workshop.ipynb
03/31/2017  05:00 PM            84,199 winequality-red.csv
03/31/2017  05:01 PM           264,426 winequality-white.csv
               3 File(s)        368,833 bytes
               3 Dir(s)  944,861,839,360 bytes free

In [2]:
import pandas as pd

In [3]:
reds = pd.read_csv("winequality-red.csv", sep=";")

In [6]:
print(reds.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5

In [7]:
source_cols = reds.columns

In [8]:
source_cols

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [13]:
reds['winetype'] = 1

In [14]:
print(reds.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality  winetype
0      9.4        5         1
1      9.8        5         1
2      9.8        5         1
3      9.8        6         1
4      9.4        5         1

Read white wine dataset.

In [11]:
whites = pd.read_csv("winequality-white.csv", sep = ";")

Exercise 1. Print column names for whites.
Exercise 2. Add label 0 for white wine.

Now we will merge the two datasets and pick the labels winetype and features for each of the wines.

In [21]:
whites['winetype'] = 0

In [22]:
allwines = pd.concat([reds, whites])

In [23]:
allwines.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,winetype
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [24]:
allwines.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,winetype
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [25]:
allwines.shape

(6497, 13)

In [30]:
winetype_labels = allwines['winetype']

In [31]:
winetype_labels.shape

(6497,)

In [34]:
winetype_features = allwines.iloc[:, 0:11]

In [35]:
winetype_features.shape

(6497, 11)

Let's pick a model for training a model to classify wines based on color. 

http://scikit-learn.org/stable/tutorial/machine_learning_map/

In order to train a Linear SVM, we need to generate training data and then verify the accuracy of the model using test data. So we will use the data we have and split it into train and test data.

In [38]:
from sklearn.model_selection import train_test_split

train_data, test_data, train_labels, test_labels = train_test_split(winetype_features, winetype_labels, 
                                                                    test_size = 0.2, random_state = 42)

Now let's pick up the model and train it with the data.

In [40]:
from sklearn.svm import SVC

clf = SVC(kernel = "linear")
clf.fit(train_data, train_labels)
predicted_labels = clf.predict(test_data)

In [42]:
print("Misclassified {0} wines of the total {1}".format((predicted_labels != test_labels).sum(), test_data.shape[0]))

Misclassified 23 wines of the total 1300

Exercise 3. Find the accuracy of the classifier.

Now let's think about training a model that predicts the quality of the wine.